<style>
div{
    text-align: center;
}
</style>
<div>
    <h2>Manipulation de données: Gérer les Dates et Temps avec Pandas</h2>
    <h3>BADJO Dibéa koffi</h3>
    <p>Scientifique de données et un ingénieur de logiciel</p>
</div>

<p>
Dans cette partie nous allons couvrir la <em>conversion de dates</em> si les dates sont importées en tant que chaînes de caractères, il peut être nécessaire de les convertir en objets de date pour pouvoir les manipuler correctement. <em>indexation de Date</em> ce qui facilite les opérations temporelles et les analyses les <em>Opérations Temporelles</em> effectuer des opérations sur les dates, comme le calcul des différences entre dates, l'ajout ou la soustraction de périodes, etc. <em>extraction de Composants Temporels</em>, <em>filtrage par Période</em>

</p>

<h3>Le timestamps</h3>

<p>
    Un objet Timestamp en Pandas est une instance d'une classe qui représente une date et une heure spécifiques avec une précision allant jusqu'à la nanoseconde. Il est utilisé pour représenter des points de données temporelles individuels.
</p>

<h4>Creation d'un objet timestamps</h4>

In [1]:
import pandas as pd
date = pd.Timestamp('2021-10-01')
date

Timestamp('2021-10-01 00:00:00')

In [2]:
temps = pd.Timestamp(1633046400000000000)
temps

Timestamp('2021-10-01 00:00:00')

In [5]:
import pandas as pd

temps2 = pd.Timestamp(2021, 10, 1, 14, 30, 0)
temps2

Timestamp('2021-10-01 14:30:00')

<h3>Convertir une chaine de charactère en Date time</h3>

In [18]:
import pandas as pd
data = {'date': ['2021-10-01 14:30:00', '2021-10-02 14:35:00', '2021-10-03 00:00:00'],
        'product': ['A', 'B', 'C'],
        'prix': [10.5, 20.3, 15.8],
        'ville': ['Paris', 'New York', 'Berlin']}

# Création du DataFrame
df = pd.DataFrame(data)
df.dtypes

date        object
product     object
prix       float64
ville       object
dtype: object

In [22]:
df["date"][1] +  df["date"][2]

'2021-10-02 14:35:002021-10-03 00:00:00'

In [23]:
df["date_convert"] = pd.to_datetime(df["date"])
df.dtypes

date                    object
product                 object
prix                   float64
ville                   object
date_convert    datetime64[ns]
dtype: object

In [24]:
df

                  date product  prix     ville        date_convert
0  2021-10-01 14:30:00       A  10.5     Paris 2021-10-01 14:30:00
1  2021-10-02 14:35:00       B  20.3  New York 2021-10-02 14:35:00
2  2021-10-03 00:00:00       C  15.8    Berlin 2021-10-03 00:00:00

<h4>Comparaisons temporailles</h4>

In [30]:
timestamp1 = pd.Timestamp('2021-10-01')
timestamp2 = pd.Timestamp('2021-10-02')

if timestamp1 < timestamp2:
    print("timestamp1 est plus tôt que timestamp2")

timestamp1 est plus tôt que timestamp2

<h4>Extraction de composante temporelles</h4>

In [45]:
print(timestamp1.day)
print(timestamp1.year)
print(timestamp1.month)

1
2021
10
2021-10-01 00:00:00+02:00
2021-10-01 00:00:00-04:00