<style>
div{
    text-align: center;
}
</style>
<div>
    <h2>Manipulation de données: <span>Jointure et concaténation<span></h2>
    <h3>BADJO Dibéa koffi</h3>
    <p>Scientifique de données et un ingénieur de logiciel</p>
</div>

<h4>Jointure</h4>

<p>
    une jointure est une opération qui combine les enregistrements de deux ou plusieurs tables en fonction d'une condition spécifiée. Le résultat de cette opération est une nouvelle table qui combine les colonnes des tables d'origine en fonction de la condition de jointure.
</p>

<em>Les différent types de jointure</em>

<ul>
    <li>
        <em>Inner Join (Jointure Interne) </em>
        <p>
            Cette jointure renvoie uniquement les lignes qui ont des correspondances dans les deux tables. Autrement dit, elle renvoie les enregistrements qui se trouvent à la fois dans la première table et dans la deuxième table.
        </p>
    </li>
    <li>
        <em>Left Join (Jointure Gauche) :</em>
        <p>
            Cette jointure renvoie toutes les lignes de la première table, ainsi que les lignes de la deuxième table qui ont une correspondance. Si aucune correspondance n'est trouvée dans la deuxième table, NULL est renvoyé pour les colonnes de la deuxième table.
        </p>
    </li>
    <li>
        <em>Right Join (Jointure Droite)  </em>
        <p>
             C'est l'inverse du Left Join. Elle renvoie toutes les lignes de la deuxième table, ainsi que les lignes de la première table qui ont une correspondance. Si aucune correspondance n'est trouvée dans la première table, NULL est renvoyé pour les colonnes de la première table.
        </p>
    </li>
    <li>
        <em>Full Outer Join (Jointure Externe Complète)  </em>
        <p>
            Cette jointure renvoie toutes les lignes lorsqu'il y a une correspondance dans l'une des tables. Elle renvoie également les lignes des deux tables qui ne correspondent pas l'une à l'autre.
        </p>
    </li>
    <li>
        <em>Self Join (Auto-Jointure) : </em>
        <p>
            Une auto-jointure est une jointure d'une table avec elle-même. Elle est utilisée pour combiner des lignes avec d'autres lignes de la même table.
        </p>
    </li>
    <li>
        <em>Cross Join (Produit Cartésien) :  </em>
        <p>
            Cette jointure renvoie le produit cartésien des enregistrements entre deux tables. Cela signifie que chaque ligne de la première table est combinée avec chaque ligne de la deuxième table.
        </p>
    </li>

</ul>

<h5>Comment effectuer la jointure</h5>

<p>Pour effectuer la jointure avec pandas, il y a plusieur manière de le faire, la fonction merge est le plus souvent utilisé, voici ces paramètre.</p>

<ul>
    <li>
        <em>left</em>
        <p>Le premier DataFrame à fusionner.</p>
    </li>
    <li>
        <em>right</em>
        <p>Le Deuxième DataFrame à fusionner.</p>
    </li>
    <li>
        <em>on</em>
        <p>Le nom de la (ou des) colonne(s) sur laquelle la fusion doit être effectuée. Cela doit être une colonne présente dans les deux DataFrames.</p>
    </li>
    <li>
        <em>how</em>
        <p>Le type de jointure à effectuer</p>
    </li>
</ul>
<p>Ceux ci sont les paramètre oblicatoir á passer á la fonction merge</p>

<em>Inner join</em>

<p>Supposons que vous aiyez deux DataFrames représentant des informations sur des employés et les départements auxquels ils sont affectés.</p>

In [1]:
import pandas as pd

# Création du premier DataFrame 'employes'
employes = pd.DataFrame({
    'employe_id': [1, 2, 3, 4],
    'nom': ['Alice', 'Bob', 'Charlie', 'David'],
    'departement_id': [101, 102, 101, 103]
})
print(employes)
# Création du deuxième DataFrame 'departements'
departements = pd.DataFrame({
    'departement_id': [101, 102, 103, 104],
    'nom_departement': ['Ventes', 'Marketing', 'R&D', 'Comptabilité']
})
print(departements)
# Effectuer une jointure interne sur la colonne 'departement_id'
resultat = pd.merge(employes, departements, on='departement_id', how='inner')

resultat.head()

   employe_id      nom  departement_id
0           1    Alice             101
1           2      Bob             102
2           3  Charlie             101
3           4    David             103
   departement_id nom_departement
0             101          Ventes
1             102       Marketing
2             103             R&D
3             104    Comptabilité

   employe_id      nom  departement_id nom_departement
0           1    Alice             101          Ventes
1           3  Charlie             101          Ventes
2           2      Bob             102       Marketing
3           4    David             103             R&D

<em>Letf join</em>

In [2]:
import pandas as pd

# Création du premier DataFrame 'employes'
employes = pd.DataFrame({
    'employe_id': [1, 2, 3, 4],
    'nom': ['Alice', 'Bob', 'Charlie', 'David'],
    'departement_id': [101, 102, 101, 103]
})
print(employes)
# Création du deuxième DataFrame 'departements'
departements = pd.DataFrame({
    'departement_id': [101, 102, 104],
    'nom_departement': ['Ventes', 'Marketing', 'Comptabilité']
})
print(departements)
# Effectuer un Left Join sur la colonne 'departement_id'
resultat = pd.merge(employes, departements, on='departement_id', how='left')

print(resultat)

   employe_id      nom  departement_id
0           1    Alice             101
1           2      Bob             102
2           3  Charlie             101
3           4    David             103
   departement_id nom_departement
0             101          Ventes
1             102       Marketing
2             104    Comptabilité
   employe_id      nom  departement_id nom_departement
0           1    Alice             101          Ventes
1           2      Bob             102       Marketing
2           3  Charlie             101          Ventes
3           4    David             103             NaN

<em>right join</em>

In [3]:
import pandas as pd

# Création du premier DataFrame 'employes'
employes = pd.DataFrame({
    'employe_id': [1, 2, 3, 4],
    'nom': ['Alice', 'Bob', 'Charlie', 'David'],
    'departement_id': [101, 102, 101, 103]
})
print(employes)
# Création du deuxième DataFrame 'departements'
departements = pd.DataFrame({
    'departement_id': [101, 102, 104],
    'nom_departement': ['Ventes', 'Marketing', 'Comptabilité']
})
print(departements)
# Effectuer un Right Join sur la colonne 'departement_id'
resultat = pd.merge(employes, departements, on='departement_id', how='right')

print(resultat)

   employe_id      nom  departement_id
0           1    Alice             101
1           2      Bob             102
2           3  Charlie             101
3           4    David             103
   departement_id nom_departement
0             101          Ventes
1             102       Marketing
2             104    Comptabilité
   employe_id      nom  departement_id nom_departement
0         1.0    Alice             101          Ventes
1         3.0  Charlie             101          Ventes
2         2.0      Bob             102       Marketing
3         NaN      NaN             104    Comptabilité

<em>full join</em>

In [5]:
import pandas as pd

# Création du premier DataFrame 'employes'
employes = pd.DataFrame({
    'employe_id': [1, 2, 3, 4],
    'nom': ['Alice', 'Bob', 'Charlie', 'David'],
    'departement_id': [101, 102, 101, 103]
})
print(employes)
# Création du deuxième DataFrame 'departements'
departements = pd.DataFrame({
    'departement_id': [101, 102, 104],
    'nom_departement': ['Ventes', 'Marketing', 'Comptabilité']
})
print(departements)
# Left Join
resultat = pd.merge(employes, departements, on='departement_id', how='outer')



print(resultat)

   employe_id      nom  departement_id
0           1    Alice             101
1           2      Bob             102
2           3  Charlie             101
3           4    David             103
   departement_id nom_departement
0             101          Ventes
1             102       Marketing
2             104    Comptabilité
   employe_id      nom  departement_id nom_departement
0         1.0    Alice             101          Ventes
1         3.0  Charlie             101          Ventes
2         2.0      Bob             102       Marketing
3         4.0    David             103             NaN
4         NaN      NaN             104    Comptabilité

<h4>Concaténation</h4>

<p>
    En analyse de données, la concaténation de deux tables signifie simplement la fusion ou la combinaison de ces deux tables en une seule table. Cela se fait généralement en empilant les lignes de la deuxième table en dessous de celles de la première, ou en ajoutant les colonnes de la deuxième table à la droite de celles de la première. <br> La concaténation peut se faire selon deux axes principaux :
</p>

<ul>
    <li>
        <em>La concaténation horizontale (ou l'empilement de colonnes) </em>
        <p>
        Dans ce cas, les données sont combinées en ajoutant de nouvelles colonnes à droite ou à gauche des colonnes existantes. Cela peut être utile lorsque vous avez des ensembles de données avec les mêmes lignes (observations), mais des attributs différents.
        </p>
    </li>
    <li>
        <em>La concaténation verticale (ou l'empilement de lignes) </em>
        <p>
        Ici, les données sont combinées en ajoutant de nouvelles lignes en bas ou en haut des lignes existantes. Cela est utile lorsque vous avez des ensembles de données avec les mêmes attributs, mais des observations différentes.
        </p>
    </li>
</ul>

<h5>Comment effectuer la jointure</h5>

<p>La fonction concat de pandas est très utilisée pour effectuer la concaténation, voici ces paramètre</p>

<ul>
    <li>
        <em>objs</em>
        <p>C'est l'objet principal que vous souhaitez concaténer. Cela peut être une liste de DataFrames, Series, ou un dictionnaire de ces objets.</p>
    </li>
    <li>
        <em>axis</em>
        <p>Cela spécifie l'axe le long duquel la concaténation doit se produire. Par défaut, c'est 0 (concaténation verticale), mais vous pouvez utiliser 1 pour une concaténation horizontale.</p>
    </li>
    <li>
        <em>join</em>
        <p>
        Cela détermine le type de jointure à effectuer lors de la concaténation. Les options incluent 'inner' (intersection) et 'outer' (union).
        </p>
    </li>
    <li>
        <em>ignore_index </em>
        <p>Si True, les index sont réinitialisés après la concaténation. Par défaut, c'est False.</p>
    </li>
</ul>
<p>Dépendant de la problématique il y a plusieurs paramètre que vous passer</p>

<em>Concaténation veritcale</em>

In [9]:
import pandas as pd

# Création des données de ventes pour le bureau 1
ventes_bureau1 = pd.DataFrame({
    'Date': ['2023-09-01', '2023-09-02', '2023-09-03'],
    'Produit': ['Produit A', 'Produit B', 'Produit A'],
    'Quantite': [50, 30, 40],
    'Prix_Unitaire': [10, 15, 12]
})

# Création des données de ventes pour le bureau 2
ventes_bureau2 = pd.DataFrame({
    'Date': ['2023-09-01', '2023-09-02', '2023-09-03'],
    'Produit': ['Produit A', 'Produit B', 'Produit B'],
    'Quantite': [60, 20, 35],
    'Prix_Unitaire': [9, 16, 11]
})

ventes_globales = pd.concat([ventes_bureau1, ventes_bureau2], axis=0, ignore_index= False)
ventes_globales

         Date    Produit  Quantite  Prix_Unitaire
0  2023-09-01  Produit A        50             10
1  2023-09-02  Produit B        30             15
2  2023-09-03  Produit A        40             12
0  2023-09-01  Produit A        60              9
1  2023-09-02  Produit B        20             16
2  2023-09-03  Produit B        35             11

<em>Concaténation horizontale</em>

In [14]:
import pandas as pd

# Création des données de ventes pour le bureau 1
ventes_bureau1 = pd.DataFrame({
    'Date': ['2023-09-01', '2023-09-02', '2023-09-03'],
    'Produit': ['Produit A', 'Produit B', 'Produit A'],
    'Quantite': [50, 30, 40],
    'Prix_Unitaire': [10, 15, 12]
})

# Création des données de ventes pour le bureau 2
ventes_bureau2 = pd.DataFrame({
    'Date': ['2023-09-01', '2023-09-02', '2023-09-03'],
    'Produit': ['Produit A', 'Produit B', 'Produit B'],
    'Quantite': [60, 20, 35],
    'Prix_Unitaire': [9, 16, 11]
})

ventes_globales = pd.concat([ventes_bureau1, ventes_bureau2], axis=1, join = "inner", keys=["Produit"])
ventes_globales

      Produit
         Date    Produit Quantite Prix_Unitaire
0  2023-09-01  Produit A       50            10
1  2023-09-02  Produit B       30            15
2  2023-09-03  Produit A       40            12

<h4>Reshaping de données</h4>

<p>
    Le "reshaping" (ou réorganisation) de données en analyse de données fait référence au processus de modification de la structure ou de la disposition d'un ensemble de données. Cela permet de présenter les données d'une manière qui les rend plus faciles à analyser, à visualiser et à interpréter. Le "reshaping" est essentiel pour mieux comprendre les relations et les tendances cachées dans les données. Cette opération est très importantes dans l'analyse de données dans plusieurs aspect:
</p>

<ul>
    <li>
        <em>Facilitation de l'analyse </em>
        <p>Une bonne organisation des données simplifie la tâche des analystes et des scientifiques des données pour effectuer des analyses plus approfondies.</p>
    </li>
    <li>
        <em>Amélioration de la visualisation</em>
        <p>Les données bien organisées se prêtent mieux à la création de graphiques et de visualisations qui permettent de mettre en évidence des tendances et des modèles.</p>
    </li>
    <li>
        <em>Optimisation de la performance </em>
        <p>
        Certains algorithmes et analyses sont plus efficaces lorsqu'ils sont appliqués à des données spécifiquement organisées.
        </p>
    </li>
    <li>
        <em>Facilitation de la communication  </em>
        <p>Des données organisées sont plus faciles à présenter et à expliquer à d'autres parties prenantes ou collègues.</p>
    </li>
    <li>
        <em>Préparation pour la modélisation</em>
        <p>Les données bien structurées sont cruciales pour entraîner des modèles d'apprentissage automatique et effectuer des prédictions précises.</p>
    </li>
</ul>

<em>Pivot table</em>

In [18]:
import pandas as pd

# Création du DataFrame
data = {'Produit': ['A', 'B', 'A', 'B', 'A'],
        'Ville': ['Paris', 'New York', 'Paris', 'New York', 'Paris'],
        'Quantité vendue': [10, 20, 15, 25, 30]}
df = pd.DataFrame(data)
print(df)
# Utilisation de pivot_table
table = df.pivot_table(values='Quantité vendue', index='Ville', columns='Produit', aggfunc='sum')
print(table)

  Produit     Ville  Quantité vendue
0       A     Paris               10
1       B  New York               20
2       A     Paris               15
3       B  New York               25
4       A     Paris               30
Produit      A     B
Ville
New York   NaN  45.0
Paris     55.0   NaN

<em>Melt</em>

In [19]:
import pandas as pd

# Création du DataFrame
data = {'Mois': ['Janvier', 'Février', 'Mars'],
        'Ventes': [100, 150, 120]}
df = pd.DataFrame(data)

# Utilisation de melt
melted_df = pd.melt(df, id_vars=['Mois'], value_vars=['Ventes'], var_name='Type', value_name='Montant')
print(melted_df)

      Mois    Type  Montant
0  Janvier  Ventes      100
1  Février  Ventes      150
2     Mars  Ventes      120

<em>Stack et unstack</em>

In [20]:
import pandas as pd

# Création du DataFrame
data = {'Ventes': [100, 150, 120, 200, 180, 160],
        'Produit': ['A', 'B', 'A', 'B', 'A', 'B']}
index = pd.MultiIndex.from_product([['Janvier', 'Février', 'Mars'], ['Paris', 'New York']], 
                                  names=['Mois', 'Ville'])
df = pd.DataFrame(data, index=index)

# Utilisation de stack et unstack
stacked_df = df.stack()
unstacked_df = df.unstack()
print(stacked_df)
print(unstacked_df)

Mois     Ville
Janvier  Paris     Ventes     100
                   Produit      A
         New York  Ventes     150
                   Produit      B
Février  Paris     Ventes     120
                   Produit      A
         New York  Ventes     200
                   Produit      B
Mars     Paris     Ventes     180
                   Produit      A
         New York  Ventes     160
                   Produit      B
dtype: object
          Ventes        Produit
Ville   New York Paris New York Paris
Mois
Février      200   120        B     A
Janvier      150   100        B     A
Mars         160   180        B     A

<em>crosstab</em>

In [16]:
import pandas as pd

# Création du DataFrame
data = {'Personne': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
        'Fruit': ['Pomme', 'Banane', 'Pomme', 'Orange', 'Banane', 'Pomme']}
df = pd.DataFrame(data)
print(df)
# Utilisation de crosstab
table = pd.crosstab(df['Personne'], df['Fruit'])

print(table)

  Personne   Fruit
0    Alice   Pomme
1      Bob  Banane
2  Charlie   Pomme
3    Alice  Orange
4      Bob  Banane
5  Charlie   Pomme
Fruit     Banane  Orange  Pomme
Personne
Alice          0       1      1
Bob            2       0      0
Charlie        0       0      2